body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Nunito Sans', sans-serif;
}
.btn{
    text-transform: none;
}
.slogan {
    font-family: 'Noto Serif TC', serif;
    font-weight: 600;
}

.transform-me:hover {
    transform: scale(3.5) translate(52px,60px);
}